*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#111827;
    color:white;
    line-height:1.6;
    background-image: url(./img/fondo.jpg);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 20px 8%;
    background: transparent;

    position: fixed;
    top: 0;
}

.perfil-header{
    display: flex;
    align-items: center;
    gap: 12px;
}

.foto-header {
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    object-fit: cover;  
    border: 2px solid #000000;
}


nav a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    margin-left:80px;
    transition:.3s;
}

nav a:hover{
    color:#00aaff;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:70px;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    margin-bottom:30px;
    color:#d1d5db;
}

.boton{
    background:#38bdf8;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.boton:hover{
    background:#0ea5e9;
}

section{
    padding:80px 8%;
}

section h2{
    text-align:center;
    margin-bottom:40px;
    font-size:35px;
}

.contenedor-tecnologias,
.contenedor-proyectos{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.card,
.proyecto{
    background:#1f2937;
    padding:30px;
    border-radius:10px;
    width:250px;
    text-align:center;
    transition:.3s;
}

.card:hover,
.proyecto:hover{
    transform:translateY(-8px);
}

footer{
    text-align:center;
    padding:40px;
    background:#1f2937;
}

@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

}

#sobre-mi,
#aprendiendo{
    background:#000000;
}

.copyright{
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
}